#notfound {
  position: relative;
  height: 90vh;
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.notfound {
  max-width: 460px;
  width: 100%;
  text-align: center;
  line-height: 1;
}

.notfound h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 33px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 7px;
  color: #e65100;
}

.notfound p {
  font-family: "Sniglet";
  font-size: 16px;
  color: #000;
  font-weight: 400;
}

#notfound2 {
  position: relative;
  height: 61vh;
}

#notfound2 .notfound2 {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.notfound2 {
  max-width: 460px;
  width: 100%;
  text-align: center;
  line-height: 1;
}

.notfound2 h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 33px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 7px;
  color: #e65100;
}

.notfound2 p {
  font-family: "Sniglet";
  font-size: 16px;
  color: #000;
  font-weight: 400;
}

.bee {
  width: 5vh;
  height: 7.5vh;
  margin: 0 auto;
  position: relative;
}
.bee__rect {
  margin: 0 auto;
  width: 70%;
  height: 20%;
  background: #4d4d4d;
  margin-top: 20%;
}
.bee__oval {
  width: 70%;
  height: 20%;
  background: #4d4d4d;
  border-radius: 50% 50% 0 0 / 100% 100% 0 0;
  margin: 0 auto;
}
.bee__oval--top:after, .bee__oval--top:before {
  content: "";
  position: absolute;
  top: -10%;
  width: 2.5217391304vh;
  height: 2.5217391304vh;
  border: 0.6vh solid transparent;
  border-top-color: #474e56;
  border-radius: 50%;
}
.bee__oval--top:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  right: -15%;
}
.bee__oval--top:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  left: -15%;
}
.bee__oval--bottom {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  margin-top: 20%;
  position: relative;
}
.bee__oval--bottom:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 5%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 1.5vh solid transparent;
  border-right: 1.5vh solid transparent;
  border-bottom: 2.2857142857vh solid #4d4d4d;
}
.bee__wing {
  position: absolute;
  top: 25%;
  width: 60%;
  height: 70%;
  background-color: #ffcb05;
  border-radius: 50%  50%  50%  50%  / 65%   65%   35%  35%;
}
.bee__wing--left {
  left: -25%;
  -webkit-transform: rotate(35deg) rotateX(0);
          transform: rotate(35deg) rotateX(0);
  -webkit-animation: fly-l .5s infinite alternate;
          animation: fly-l .5s infinite alternate;
}
.bee__wing--right {
  right: -25%;
  -webkit-transform: rotate(-35deg);
          transform: rotate(-35deg);
  -webkit-animation: fly-r .5s infinite alternate;
          animation: fly-r .5s infinite alternate;
}

@keyframes fly-l {
  100% {
    -webkit-transform: rotate(30deg) rotateX(15deg);
            transform: rotate(30deg) rotateX(15deg);
  }
}

@keyframes fly-l {
  100% {
    -webkit-transform: rotate(30deg) rotateX(15deg);
            transform: rotate(30deg) rotateX(15deg);
  }
}
@-webkit-keyframes fly-r {
  100% {
    -webkit-transform: rotate(-30deg) rotateX(-15deg);
            transform: rotate(-30deg) rotateX(-15deg);
  }
}
@keyframes fly-r {
  100% {
    -webkit-transform: rotate(-30deg) rotateX(-15deg);
            transform: rotate(-30deg) rotateX(-15deg);
  }
}